<app-loading class="loading" *ngIf="loading"></app-loading>
<div class="container">
  <section class="panel">
    <div class="car-info">
      <img class="img" [src]="vehicle.Imagen_URL"/>
      <div class="info-wrapper">
        <p class="panel-title">{{ vehicleHelper.getModel(vehicle) }}</p>
        <div class="info">
          <span>
            <p class="panel-label"> Kilometraje: <strong>{{vehicle.Kilometraje}} Km</strong></p>
            <p class="panel-label"> Placa <strong>{{vehicle.Placa}}</strong></p>
          </span>
          <span>
            <p class="panel-label">Tipo: <strong>{{ vehicleHelper.getType(vehicle) }}</strong></p>
            <p class="panel-label">Estado: <strong>{{ vehicleHelper.getVehicleStatus(vehicle) }}</strong></p>
          </span>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <app-primary-button class="button" (btnClick)="goToLogs()">
        VER BITACORAS
      </app-primary-button>
      <app-primary-button class="button" (btnClick)="goToRequests()">
        VER SOLICITUDES
      </app-primary-button>
    </div>
  </section>
  <section class="info-container">
    <div class="gas-container">
      <div class="first-row">
        <span class="item">
          <p>KPG</p>
          <p class="panel-label">{{ currentMonth.kpg }}</p>
        </span>
        <span class="item">
          <p>CPK</p>
          <p class="panel-label">L.{{ currentMonth.cpk }}</p>
        </span>
        <span class="item">
          <p>Cantidad llenada</p>
          <p class="panel-label">{{ currentMonth.gas }} Galon{{ currentMonth.gas > 1 ? 'es': ''}}</p>
        </span>
        <span class="item">
          <p>Precio</p>
          <p class="panel-label">L.{{ currentMonth.cost }}</p>
        </span>
        <span class="item">
          <p>Distancia Recorrida</p>
          <p class="panel-label">{{ currentMonth.kms }} KM</p>
        </span>
      </div>
      <div class="second-row">
        <div class="display">
          <span class="item">
            <p>Fecha Últ. Mantenimiento</p>
            <p class="panel-label">{{ date }}</p>
          </span>
          <span class="item">
            <p>Restante para Mantenimiento</p>
            <p class="panel-label">{{ maintenanceInfo.km }} KM</p>
          </span>
        </div>
        <div class="chart-container">
          <canvas
            baseChart
            class="chart"
            type="line"
            [options]="options"
            [labels]="history.months"
            [datasets]="datasets"
          ></canvas>
        </div>
      </div>
    </div>
    <div #map class="map"></div>
  </section>
</div>
