@import 'global';

.container {
  @include flex-center-column;
  gap: 2rem;
  padding: 4rem;
  width: 85rem;
  height: 60rem;
  border-radius: 2rem;
  color: $dark-blue;

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .buttons {
    @include flex-center;
    width: 100%;
    gap: 2rem;
  }

  .btn {
    width: 100%;
  }

  .form-label {
    margin: 0;
  }
}
