<div class="card-wrapper" *ngIf="vehicle">
  <div class="header">
   <img class="img" [src]="vehicle.Imagen_URL">
    <div>
      <p class="model">{{ model }}</p>
      <p class="type">{{ vehicle.Modelo.Tipo_Vehiculo.Tipo_Vehiculo }} - {{ vehicle.Kilometraje }} Kms</p>
    </div>
  </div>
  <div class="maintenance-info" *ngIf="type === 'maintenance'">
    <mat-calendar [dateClass]="maintenanceDateClass" class="calendar" [startAt]="lastMaintenanceDate"></mat-calendar>
    <p class="kms-label">Próximo mantenimiento en <strong>{{ remainingKms }} KMS</strong></p>
  </div>
</div>
