@import 'global';

.container {
  @include flex-center;
  height: 12rem;
  width: 55%;
  border-radius: 15rem;
  background-color: $blue;

  .bar-menu {
    @include flex-center;
    gap: 6.5rem;
    margin-bottom: 1rem;
  }
}
