@import 'global';

.container {
  @include flex-center-column;
  position: relative;
  height: 100%;
  width: 28rem;
  background-color: $blue;

  .toggle {
    cursor: pointer;
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    right: -1.5rem;
    background-color: $white;
    border-radius: 4rem;
    border: 0.5rem solid $blue;
    color: $blue;
  }

  .bar-header {
    height: 12rem;
    position: absolute;
    top: 2rem;

    .image {
      max-height: 100%;
    }
  }

  .bar-menu {
    @include flex-center-column;
    gap: 2rem;
  }

  .mini-logo {
    height: 5rem;
    position: absolute;
    top: 8rem;

    .image {
      max-width: 6rem;
    }
  }
}

.bar-footer {
  @include flex-center;
  justify-content: space-around;
  background-color: $dark-blue;
  position: absolute;
  gap: 1rem;
  bottom: 0;
  height: 10rem;
  width: 100%;

  .profile {
    height: 5rem;
    background-color: $white;
    border-radius: 2rem;
  }

  .logout {
    cursor: pointer;
    font-size: 3rem;
    color: $white;
  }

  .name, .position {
    color: $white;
    margin: 0;
    font-size: 1.2rem;
  }

  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.mini-bar {
  width: 10rem;
}
