@import 'global';

.container {
  @include flex-center;
  width: 100%;
  height: 100%;
  background-color: $blue;
}

.error {
  font-size: 1.5rem;
  font-weight: bold;
  color: $red;
}

.form-wrapper {
  @include flex-center;
  width: 60%;
  height: 80%;
  border-radius: 1rem;
  background-color: $white;

  .login-info {
    @include flex-center-column;
    align-items: flex-start;
    justify-content: space-around;
    width: 35%;
    height: 100%;
    margin-left: 5rem;
  }

  .login-panel {
    @include flex-center-column;
    margin-right: 1.5rem;
    width: 65%;
    height: 95%;
    border-radius: 1rem;
    background-color: $blue;
  }

  .image {
    max-width: 100%;
  }

  .label-name {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: $white;
  }

  .system-label {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10rem;
    color: $white;
  }
}

.form-header {
  font-size: 3rem;
  font-weight: bold;
  color: $black;
}

.login-form {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .form-field {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }

  .input {
    height: 3.5rem;
    width: 100%;
    margin-right: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 3.5rem;
  }

  .icon {
    position: absolute;
    font-size: 2rem;
    margin-left: 1rem;
  }

  .password {
    cursor: pointer;
    margin: 0;
    right: 6rem;
  }
}

.header-label {
  font-size: 2rem;
}

.header-label, .form-label {
  color: $gray;
  margin: 0;
}

.button {
  width: 87%;
  margin-right: 5rem;
}
