<div class="container">
  <p class="title">Agregar Pasajeros</p>
  <form [formGroup]="passengerForm">
    <mat-form-field class="example-full-width">
      <input
        [matAutocomplete]="auto"
        matInput
        type="text"
        placeholder="Seleccione los usuarios"
        formControlName="name"
      >
      <mat-hint>Enter text to find users by name</mat-hint>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let passenger of filteredPassengers | async" [value]="selectedPassengers">
        <div (click)="optionClicked($event, passenger)">
          <mat-checkbox [checked]="isPassengerSelected(passenger)" (change)="toggleSelection(passenger)" (click)="$event.stopPropagation()">
            {{ passenger.Nombres }} {{ passenger.Apellidos }}
          </mat-checkbox>
        </div>
      </mat-option>
    </mat-autocomplete>
  </form>
  <div class="buttons">
    <app-primary-button class="btn" (btnClick)="onCancel()">Cancelar</app-primary-button>
    <app-primary-button styleClass="btn-red" class="btn" (btnClick)="onSubmit()">Eliminar</app-primary-button>
  </div>
</div>
